# Assembler list and symbol files (a09, as65, asm6809 etc) 
*.lst
*.lis
*.sym

# Textpad text editor workspace file
*.tws

# Excel temp files
~$*.xls*

# Ignore other prg files used for testing
matrix.prg
