# Assembler list and symbol files (a09, as65, asm6809 etc)
*.lst
*.lis
*.sym
!ghidra/*.sym

# Textpad text editor workspace file
*.tws

# Excel temp files
~$*.xls*

# Specific untracked stuff
_git_untracked*

# Ghidra backup files
ghidra/**/*.bak

# Other prg files used for testing
matrix.prg

# Various test files and MAME save directories
MAME_debug/*.bin
MAME_debug/*.txt
MAME_debug/screendumps/*
MAME_debug/snap/*
